<div>
    <div class="img-disc">
        <img src="" alt="">
    </div>
    <div class="info-disc">
        <ul>
            <li>{{discData.name}}</li>
            <li>{{discData.type}}</li>
            <li>{{discData.price}}</li> 
            <li>
               <app-store-quantity [disc]="discData" [max]="discData.quantity" *ngIf="discData.stock"></app-store-quantity>
                <button (click)="addToCart(discData);mostrarBtn=true">Agregar al carrito</button>
                <button  *ngIf="mostrarBtn" [routerLink]="['/store']">Ver carrito</button>
            </li>
        </ul>
    </div>

</div>

