p{
    font-size: 25px;
    margin: 40px;
}

th, td{
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

table {
    border-collapse: collapse;
    width: 700px;
    text-align: center;
    margin: 50px 60px;
}
th{
    background: #ccccff;
    color: #fff;
    font-size: 30px;
} 
th, td{
    padding: 10px 20px;
}      

tr:hover{
    background: #e5e5e5;
}
