<header>
  <div class="image-header">
    <img src="../assets/disco-vinilo.jpg" alt="">
  </div>
  <nav >
    <ul>
      <li><a href="#home" [routerLink]="['/home']" class="nav-bar">Home</a></li>
      <li><a href="#listaDiscos" class="nav-bar">Discos</a></li>
      <li><a [routerLink]="['/store']" class="carrito" title="Ver tus compras"><img src="../assets/compra.png" alt="compras"></a></li>
    </ul>
  </nav>

</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <p>Ⓒ Discos de Vinilo</p>
</footer>