<!-- Voy a tener 2 componenetes padres (comentarios,discos)---en la parte de los dicos voy a tener
   la info por interfaz  y servicio, en una ul con un ng for--- puede que los comentarios sean de
    la misma manera y dos componentes hijos(input del user,carrito de compras)
-->
<header>
  <nav>
    <ul class="nav-bar">
      <li><a [routerLink]="['/nosotros']">Nosotros</a></li>
      <li><a href="#ancla">Lista de discos</a></li>
    </ul>
  </nav>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <p>Ⓒ Discos de Vinilo</p>
</footer>