<p id="ancla"></p>
<div class="info-disc">
    <ul class="disc-card" *ngFor="let disc of discs">
        <li>
            <div>
                <div class="img-disc"><img [src]="disc.image"></div>
                <ul>
                    <li>{{disc.name}}</li>
                    <li>$<span>{{disc.price}}</span></li>
                    <li *ngIf="disc.stock==0">Sin stock</li>
                </ul>
            </div>
        </li>
        <li *ngIf="disc.stock!=0">
            <button (click)="infoCardDisc(disc);viewData(disc.numberDisc);" >Ver detalle</button>
             <div *ngIf="mostrar && disc.numberDisc==posView">
                <app-disc-store [discData]="disc"></app-disc-store>
              </div>
        </li>
    </ul>
</div>
