/* You can add global styles to this file, and also import other style files */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background: #fdfdfd;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to bottom, #81a3ff, #1137a0);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom, #c5d5ff, #0e2f75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background-repeat: no-repeat;
    
    background-attachment: fixed ;
}
